# Copie este arquivo para .env e preencha apenas localmente.
# Nunca publique, envie por chat ou versione o .env real.

REQUIRE_FINAL_CONFIRMATION=true
ALLOW_AUTOMATED_SUBMISSION=false
DEFAULT_LANGUAGE=pt-BR
BROWSER_AUTOMATION_REQUIRED=true
PLAYWRIGHT_SESSION=candidaturas
PLAYWRIGHT_HEADLESS=false
CAMPAIGN_TOTAL_GOAL=60
CAMPAIGN_DAILY_GOAL=5
CAMPAIGN_WEEKLY_GOAL=20
MAX_APPLICATIONS_PER_RUN=30
MAX_CONSECUTIVE_FAILURES=3
CHECKPOINT_AFTER_EACH_ACTION=true
EVIDENCE_MODE=confirmation

GUPY_ENABLED=true
GUPY_URL=https://portal.gupy.io/
GUPY_AUTH_MODE=password
GUPY_LOGIN=
GUPY_PASSWORD=
GUPY_GOAL=30

INFOJOBS_ENABLED=true
INFOJOBS_URL=https://www.infojobs.com.br/
INFOJOBS_AUTH_MODE=password
INFOJOBS_LOGIN=
INFOJOBS_PASSWORD=
INFOJOBS_GOAL=30

PANDAPE_ENABLED=true
PANDAPE_URL=https://www.pandape.com.br/
PANDAPE_AUTH_MODE=link-convite
PANDAPE_LOGIN=
PANDAPE_PASSWORD=
PANDAPE_GOAL=0

LINKEDIN_ENABLED=true
LINKEDIN_URL=https://www.linkedin.com/jobs/
LINKEDIN_AUTH_MODE=manual
LINKEDIN_LOGIN=
LINKEDIN_PASSWORD=
LINKEDIN_GOAL=0

CATHO_ENABLED=true
CATHO_URL=https://www.catho.com.br/vagas/
CATHO_AUTH_MODE=password
CATHO_LOGIN=
CATHO_PASSWORD=
CATHO_GOAL=0

VAGASCOM_ENABLED=true
VAGASCOM_URL=https://www.vagas.com.br/
VAGASCOM_AUTH_MODE=password
VAGASCOM_LOGIN=
VAGASCOM_PASSWORD=
VAGASCOM_GOAL=0

SOLIDES_ENABLED=true
SOLIDES_URL=https://vagas.solides.com.br/
SOLIDES_AUTH_MODE=password
SOLIDES_LOGIN=
SOLIDES_PASSWORD=
SOLIDES_GOAL=0
